* {
  font-family: "Helvetica", "Times New Roman", sans-serif;
}

header {
  background-color: rgb(0,19,54);
  background: radial-gradient(circle, rgba(0,19,54,1) 0%, rgba(39,8,195,1) 100%);
  color: white;
  font-size: 26px;
  text-align: center;
  padding: 20px 50px;
  border-radius: 20px 20px 0px
 0px;
}

h2 {
  font-size: 30px;
  text-align: center;
  color: white;
  padding: 10px 30px;
  margin: 0px auto;
  background-color: darkblue;
  border-radius: 10px 10px 0px 0px;
}

h3 {
  font-size: 22px;
}

nav {
  padding: 5px;
  background-color: darkblue;
  text-align: center;
  font-size: 18px;
}

nav a {
  color: white;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 5px 10px;
}

footer {
  font-style: italic;
  font-size: 14px;
  text-align: right;
}

.container {
  border: 3px solid darkblue;
  border-radius: 15px;
  margin: 50px 0px;
}

.container-paragraphs {
  padding: 100px 40px 0px 40px;
  font-size: 18px;
  margin: auto;
  max-width: 800px;
}