* {
  font-family: "Helvetica", "Times New Roman", sans-serif;
}

header {
  background-color: black;
  color: white;
  font-size: 26px;
  text-align: center;
  padding: 20px 50px;
  border-radius: 20px 20px 0px
 0px;
}

h2 {
  font-size: 30px;
  text-align: center;
  color: white;
  padding: 10px 30px;
  margin: 0px auto;
  background-color: darkblue;
  border-radius: 10px 10px 0px 0px;
}

h3 {
  font-size: 24px;
}

nav {
  padding: 5px;
  background-color: darkblue;
  text-align: center;
  font-size: 18px;
}

nav a {
  color: white;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 5px 10px;
}

hr {
  border-top: dashed 3px darkblue;
}

.container {
  border: 3px solid darkblue;
  border-radius: 15px;
  margin: 20px 0px;
}

footer {
  font-style: italic;
  font-size: 14px;
}